<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="container2">
    <h2>Edit a Pokemon</h2>
        <form action="/pokemon/<%= id %>?_method=PUT" method="post">
            <input type="text" name="name" value="<%= pokemon.name %>">
            <input type="text" name="img" value="<%= pokemon.img %>">
            <button type="submit">Submit Pokemon Edits</button>
        </form>
    </div>
</body>
</html>