<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="container">
        <h1>Pokemon</h1>
        <ul class="pokemon">
            <% for (let i = 0; i < pokemon.length; i++){ %>
                <li><p><a href="/pokemon/<%= i %>"><%= pokemon[i].name %></a></p></li>
                <a href="/pokemon/<%= i %>/edit"><button type="submit">Edit This Pokemon</button></a>
                <form action="/pokemon/<%= i %>?_method=DELETE" method="post" >
                    <input type="submit" value="Delete This Pokemon">
                </form>

        <% } %>
        </ul>
    </div>
</body>
</html>