<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <style>
        h1{
            text-transform: uppercase;
            color: white;
            font-weight: 700;
        }
        body {
            background-color: grey;
            background-image: url(https://gds-storage-prd.s3.amazonaws.com/unified-gallery/171112/5264/5811ab5a/thumbnails/pokeball-2017-nov-11-08-39-22am-000-customizedview39347886123-png-3500-3500.jpg);
            background-repeat: no-repeat;
            background-position: center;
            font-family: 'Quicksand', sans-serif;
        }
        p {
            color: white;
        }
        ul {
            color: white;
        }
        .container {
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            padding: 50px;
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Pokemon</h1>
        <ul class="pokemon">
            <% for (let i = 0; i < pokemon.length; i++){ %>
                <li><p><a href="/pokemon/<%= i %>"><%= pokemon[i].name %></a></p></li>
        <% } %>
        </ul>
    </div>
</body>
</html>