<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <style>
        h1{
            text-transform: uppercase;
            color: white;
            font-weight: 700;
        }
        body {
            background-color: grey;
            background-repeat: no-repeat;
            background-position: center;
            font-family: 'Quicksand', sans-serif;
        }
        p {
            color: white;
        }
        ul {
            color: white;
        }
        .container {
            height: 100%;
            width: 100%;
            padding: 50px;
        }

    </style>
</head>
<body>
    <div class="container">
            <h1><%= singlePokemon.name %></h1>
            <img src="<%= singlePokemon.img %>">
    </div>
</body>
</html>