h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: .5em;
    font-size: 36px;
}
h2 {
    color: teal;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-weight: 700;
    font-size: 36px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

p {
    color: white;
    letter-spacing: 0.25em;
    font-size: 24px;
    font-weight: 700;
}

ul {
    color: white;
}

.container {
    background-image: url(../images/pokeball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 20px 50px 20px 50px;
}

a {
    text-decoration: none;
    color: white;
}

.container2 {
    text-align: center;
}

input {
    padding: 10px;
    border: 1px solid teal;
}

button {
    background-color: teal;
    color: white;
    padding: 10px;
}

img {
    margin: 30px;
}

.delete-button {
    margin: 10px 0 0 0;
}